.list-wrapper {
  padding: 1rem;
}

.users-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

@media (min-width: 900px) {
  .users-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
  }
}

@media (min-width: 700px) and (max-width: 899px) {
  .users-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
}
